$logo-dark-icon: "https://asset.brandfetch.io/id1vzz_tJL/id7byIk3db.png";
$logo-dark-image-png: "https://asset.brandfetch.io/id1vzz_tJL/idOtgm52ui.png";
$logo-dark-image-svg: "https://asset.brandfetch.io/id1vzz_tJL/idP4I1L9jI.svg";
