/* Social */

$social-youtube: "https://youtube.com/channel/UCEtH3DGx8aexiXLgOi2Kyqg";
$social-instagram: "https://instagram.com/gmhcommunities";
$social-linkedin: "https://linkedin.com/company/gmhcommunities";
$social-facebook: "https://facebook.com/gmhcommunities";
